tuya_keys_node_red.json
[{"id":"ca75eab6682efe18","type":"hmac","z":"3877dca4.546ae4","name":"Calc sign","algorithm":"HmacSHA256","key":"your_secret_key_here","x":440,"y":780,"wires":[["15155dbb62c4b02f"]]},{"id":"15155dbb62c4b02f","type":"function","z":"3877dca4.546ae4","name":"Set sign header","func":"msg.headers['sign'] = msg.payload.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":820,"wires":[["d81033c839388220"]]},{"id":"d81033c839388220","type":"http request","z":"3877dca4.546ae4","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","credentials":{},"x":450,"y":860,"wires":[["d8865f3cb0626618"]]},{"id":"357cfe5e0f4400de","type":"inject","z":"3877dca4.546ae4","name":"Refresh keys","props":[{"p":"clientId","v":"your_client_id_here","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":250,"y":660,"wires":[["946a84608a06a6bc"]]},{"id":"d8865f3cb0626618","type":"json","z":"3877dca4.546ae4","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":900,"wires":[["bfa2fe930edba35c"]]},{"id":"bfa2fe930edba35c","type":"function","z":"3877dca4.546ae4","name":"Parse result","func":"// Outputs:\n// 1. Refreshed token.\n// 2. Token invalid result.\n// 3. Device info.\nif (msg.payload.result) {\n    if (msg.requestType === \"token\") {\n        flow.set(\"tuya_token\", msg.payload.result.access_token);\n        node.warn(\"Refreshed token, retrying.\");\n        return [{}, null, null];\n    }\n    node.warn(\"Got devices list.\");\n    return [null, null, {\"payload\": msg.payload.result.devices}];\n} else if (msg.payload.msg === \"token invalid\" || msg.payload.msg === \"permission deny\") {\n    node.warn(\"Token invalid, refreshing.\");\n    return [null, {}, null];\n} else {\n    node.error(\"Cannot get \" + msg.requestType + \": \" + msg.payload.msg);\n}","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":960,"wires":[["946a84608a06a6bc"],["2983589203a2a82a"],["674108a70c8c3bb0"]]},{"id":"674108a70c8c3bb0","type":"function","z":"3877dca4.546ae4","name":"Write device info.","func":"let devices = {};\nfor (var i in msg.payload) {\n    let device = msg.payload[i];\n    devices[device.name] = {\n        \"id\": device.id,\n        \"key\": device.local_key\n    };\n}\nflow.set(\"devices\", devices);","outputs":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":1000,"wires":[]},{"id":"19bff989bda60819","type":"function","z":"3877dca4.546ae4","name":"Create params","func":"let bodySha256 = \"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\";\nlet url = msg.path;\nif (msg.query) {\n    url += (\"?\" + msg.query);\n}\nlet headersStr = \"\";\n\nmsg.fullPath = url;\nmsg.signUrl = \"GET\" + \"\\n\" + bodySha256 + \"\\n\" + headersStr + \"\\n\" + url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":700,"wires":[["602f4db8a9edf43a"]]},{"id":"602f4db8a9edf43a","type":"function","z":"3877dca4.546ae4","name":"Build sign and url","func":"let millis = new Date().getTime();\nlet headers = msg.headers;\nlet token;\nif (!headers) {\n    headers = {};\n    token = \"\";\n} else {\n    token = headers[\"access_token\"];\n}\n\nheaders[\"sign_method\"] = 'HMAC-SHA256';\nheaders[\"client_id\"] = msg.clientId;\nheaders[\"t\"] = millis;\nheaders[\"mode\"] = \"cors\";\nheaders[\"Content-Type\"] = \"application/json\";\n\nmsg.headers = headers;\nmsg.payload = msg.clientId + token + millis + msg.signUrl;\nmsg.url = \"https://openapi.tuyaus.com\" + msg.fullPath;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":740,"wires":[["ca75eab6682efe18"]]},{"id":"946a84608a06a6bc","type":"function","z":"3877dca4.546ae4","name":"Devices list","func":"msg.requestType = \"devices list\";\nmsg.path = \"/v1.0/iot-01/associated-users/devices\";\nmsg.headers = {};\nmsg.headers[\"access_token\"] = flow.get(\"tuya_token\", \"\");\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":660,"wires":[["19bff989bda60819"]]},{"id":"2983589203a2a82a","type":"function","z":"3877dca4.546ae4","name":"Token","func":"msg.requestType = \"token\";\nmsg.path = \"/v1.0/token\";\nmsg.query = \"grant_type=1\"\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":960,"wires":[["19bff989bda60819"]]},{"id":"e5a523dd2edaf21b","type":"comment","z":"3877dca4.546ae4","name":"API: https://iot.tuya.com/cloud/explorer","info":"","x":330,"y":620,"wires":[]}]